.slide.ng-hide-remove {
    animation: 0.25s enter;
}

.slide.ng-hide-add {
    animation: 0.25s leave;
}

@keyframes enter {
    from {
        width: 0px;
    }
    to {
        width: 375px;
    }
}

@keyframes leave {
    from {
        width: 375px;
    }
    to {
        width: 0px;
    }
}

.fade.ng-hide-remove {
    animation-name: fade-in;
    -webkit-animation-name: fade-in;  

    animation-duration: 0.3s;  
    -webkit-animation-duration: 0.3s;

    animation-timing-function: ease-out;  
    -webkit-animation-timing-function: ease-out;  

    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
}

.fade.ng-hide-add {
    animation-name: fade-out;
    -webkit-animation-name: fade-out;  

    animation-duration: 0.3s;  
    -webkit-animation-duration: 0.3s;

    animation-timing-function: ease-out;  
    -webkit-animation-timing-function: ease-out;  

    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }      
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.breathe {
    animation-name: breathe;
    -webkit-animation-name: breathe;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes breathe {
    0%{
        border-image-outset: 0px;
    }
    100%{
        border-image-outset: 2px;
    }
}