.backgroundTexture{
    background-image: url("../IMG/background.png");
    background-repeat: repeat;
}

.absolute{  position: absolute; }
.clickable:hover{ cursor: pointer; }

.topPadding{ padding-top: 8px; }
.leftPadding{ padding-left: 8px; }
.rightPadding{ padding-right: 8px; }
.verticalPadding{
    padding-top: 8px;
    padding-bottom: 8px;
}
.horizontalPadding{
    padding-left: 8px;
    padding-right: 8px;
}
.doubleHorizontalPadding{
    padding-left: 16px;
    padding-right: 16px; 
}
.topMargin{ margin-top: 8px; }
.halfTopMargin{ margin-top: 4px; }
.quarterBottomMargin{ margin-bottom: 2px; }
.halfBottomMargin{ margin-bottom: 4px; }
.bottomMargin{ margin-bottom: 8px; }
.leftMargin{ margin-left: 8px; }

.toolbarColor{ background-color: #2196F3;}
.toolbarButtonColor{ color: #FFC107; }

.errorMessageColor{ color: crimson; }
.warningMessageColor{ color: #FFC107; }
.buffedStatColor{ color: #5CB4EF; }
.debuffedStatColor{ color: #d81b62; }
.droppableItemColor{ color: #3CD66F; }

.inRangeMovColor{ background: rgba(92, 180, 239, 0.5); }
.inRangeAtkColor{ background: rgba(216, 27, 98, 0.5); }
.inRangeStaffColor{ background: rgba(157, 255, 0, 0.5); }
.inRangeTileObj{
    -webkit-box-shadow:inset 0px 0px 3px 2px rgb(240, 240, 240);
    -moz-box-shadow:inset 0px 0px 3px 2px rgb(255, 255, 255);
    box-shadow:inset 0px 0px 3px 2px rgb(255, 255, 255);
}
.highlightedColor{ background: rgba(255, 255, 255, 0.6); }

.opacity50{ opacity: 0.5; }
.pinnedTileObjectShadow{
    filter: drop-shadow(0px 0px 4px white) drop-shadow(0px 0px 3px white);
}

.rem0_75Text{ font-size: .75rem; }
.rem0_8Text{ font-size: .8rem; }
.rem0_9Text{ font-size: .9rem; }
.rem1_2Text{ font-size: 1.2rem; }
.rem1_4Text{ font-size: 1.4rem; }
.rem2_25Text{ font-size: 2.25rem; }

.boldText{ font-weight: bold; }
.strikethroughText{ text-decoration: line-through; }
.salePriceText{
    color: crimson;
    text-decoration: line-through;
}
.hyperlinkText{
    color: #5CB4EF;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    border: 0;
}
.lowCostShadowedText{ color: #000000; text-shadow: 1px 1px #ffffff;}
.mediumCostShadowedText{ color: #e2aa00; text-shadow: 1px 1px #000000;}
.highCostShadowedText{ color: #db1212; text-shadow: 1px 1px #000000;}
.extremeCostShadowedText{ color: #992DE4; text-shadow: 1px 1px #000000;}

.noTextSelection{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.dim{ 
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}
.flipHorizontal{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); 
}