.backgroundTexture{
    background-image: url("../IMG/background.png");
    background-repeat: repeat;
}

.absolute{  position: absolute; }
.clickable:hover{ cursor: pointer; }

.leftPadding{ padding-left: 8px; }
.rightPadding{ padding-right: 8px; }
.verticalPadding{
    padding-top: 8px;
    padding-bottom: 8px;
}
.horizontalPadding{
    padding-left: 8px;
    padding-right: 8px;
}
.topMargin{ margin-top: 8px; }
.halfBottomMargin{ margin-bottom: 4px; }
.bottomMargin{ margin-bottom: 8px; }
.leftMargin{ margin-left: 8px; }

.toolbarColor{ background-color: #2196F3;}
.toolbarButtonColor{ color: #FFC107; }

.errorMessageColor{ color: crimson; }
.warningMessageColor{ color: #FFC107; }
.buffedStatColor{ color: #5CB4EF; }
.debuffedStatColor{ color: #F13535; }
.droppableItemColor{ color: #3CD66F; }

.hp25PercentColor{ background-color: #F13535; }
.hp50PercentColor{ background-color: #FFC107; }
.hp100PercentColor{ background-color: #3CD66F; }
.hpOverfillColor{ background-color: #992DE4; }

.inRangeMovColor{ background: rgba(92, 180, 239, 0.5); }
.inRangeAtkColor{ background: rgba(241, 53, 53, 0.5); }
.inRangeStaffColor{ background: rgba(157, 255, 0, 0.5); }
.highlightedColor{ background: rgba(255, 255, 255, 0.5); }

.opacity50{ opacity: 0.5; }

.rem0_8Text{ font-size: .8rem; }
.rem0_9Text{ font-size: .9rem; }
.rem1_2Text{ font-size: 1.2rem; }
.rem1_4Text{ font-size: 1.4rem; }
.rem2_25Text{ font-size: 2.25rem; }

.boldText{ font-weight: bold; }
.strikethroughText{ text-decoration: line-through; }
.salePriceText{
    color: crimson;
    text-decoration: line-through;
}
.hyperlinkText{
    color: #5CB4EF;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    border: 0;
}
.lowCostShadowedText{ color: #ffffff; text-shadow: 1px 1px #000000;}
.mediumCostShadowedText{ color: #FFC107; text-shadow: 1px 1px #000000;}
.highCostShadowedText{ color: #F13535; text-shadow: 1px 1px #000000;}
.extremeCostShadowedText{ color: #992DE4; text-shadow: 1px 1px #000000;}

.dim{ 
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}