.buffedStatColor{ color: #5CB4EF; }
.debuffedStatColor{ color: #F13535; }
.droppableItemColor{ color: #3CD66F; }

.hp25PercentColor{ background-color: #F13535; }
.hp50PercentColor{ background-color: #FFE14B; }
.hp100PercentColor{ background-color: #7ED836; }
.hpOverfillColor{ background-color: #992DE4; }

.inRangeMov{ background: rgba(92, 180, 239, 0.5); }
.inRangeAtk{ background: rgba(241, 53, 53, 0.5); }
.inRangeStaff{ background: rgba(60, 214, 111, 0.5); }