.absolute{
    position: absolute;
}

.sidebar-launch-button{
    right: 0px;
    border-radius: 50% 0% 0% 50% !important;
    margin-right: 0px;
}

.fa-rotate-45 {
    -webkit-transform:rotate(45deg); 
    -moz-transform:rotate(45deg); 
    -ms-transform:rotate(45deg); 
    -o-transform:rotate(45deg); 
    transform:rotate(45deg);
}