
.mapBackground{
    background-repeat: no-repeat;
    padding: 0px;
}

.mapSegmentBar{
    height: 40px;
    width: 100%;
    padding: 0px;
    border-bottom: solid lightgray;
}

.mapSegmentTab{
    display: inline-block;
    width: 175px;
    height: 35px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    margin-right: 8px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;

    -webkit-transition: height 0.25s ease, padding-bottom 0.25s ease;
    -moz-transition: height 0.25s ease, padding-bottom 0.25s ease;
    -ms-transition: height 0.25s ease, padding-bottom 0.25s ease;
    -o-transition: height 0.25s ease, padding-bottom 0.25s ease;
    transition: height 0.25s ease, padding-bottom 0.25s ease;
}

.mapSegmentTab.poppedUp{
    height: 40px;
    padding-bottom: 9px;
}

.mapRow{
    margin-left: 1px;
    white-space: nowrap;
}

.mapTile{
    display: inline-block;
    margin-left: -1px;
}

.mapTileHover{
    height: 100%;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-image: url("../IMG/tile_select.png") 3;
    border-image-outset: 1px;
    border-width: 3px;
    border-style: solid;
    pointer-events: none;
}

.mapTile:focus{
    outline: none;
    border: 0;
}

.spriteContainer{
    position: absolute;
    pointer-events: none;
}

.pairSpriteFront{
    left: calc(15% + 1px);
    top: calc(15% + 1px);
}

.pairSpriteBack{
    left: calc(-15% + 1px);
    top: calc(-15% + 1px);
}

.unitSpriteImage{
    margin-bottom: 1px;
}

.unitHealthBarPosition{
    position: absolute;
    width: calc(100% - 3px);
    height: 3px;
    left: 2px;
    bottom: 1px;
}

.unitNumber{
    position: absolute;
    right: 1px;
    bottom: 5px;
}

.unitStatusSprites{
    position: absolute;
    top: -1px;
    left: 1px;
}

.unitTagSprites{
    position: absolute;
    top: -1px;
    right: 1px;
}