body {
    scrollbar-width: thin;
    scrollbar-color: gray lightgray;
}

::-webkit-scrollbar {
    width: 12px; 
}
::-webkit-scrollbar-track {
    background: lightgray; 
}
::-webkit-scrollbar-thumb {
    background-color: gray; 
    border-radius: 20px;
}

img{
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

i{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

i:focus{
    outline: none;
    border: 0;
}

.md-chip-custom{
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 4px;
    background-color: gray;
    font-size: 0.8rem;
}

.md-card-hover:focus {
    outline: none;
    border: 0;
 }
.md-card-hover:hover{
    outline: none;
    border: 0;
}

md-input-container{
    margin: 16px 0px 0px 0px;
}

md-divider{
    margin-top: 8px;
    padding: 0px 0px 8px 0px !important;
}

.fa-rotate-45 {
    -webkit-transform:rotate(45deg); 
    -moz-transform:rotate(45deg); 
    -ms-transform:rotate(45deg); 
    -o-transform:rotate(45deg); 
    transform:rotate(45deg);
}
