div.combatArtContainer { 
    display: flex;
    flex-flow: column nowrap;
    row-gap: 8px;
    cursor: pointer;

    p { margin: 0px; }
}

div.headerRow { 
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    font-family: macExtMinecraft;
}

div.titlesColumn {
    display: flex;
    flex-flow: column nowrap;
}

div.titleRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 8px;
    font-size: var(--card-header-pixel-font-size);

    //Applies to all sprites in the title row, including tag sprites
    img { 
        max-height: var(--card-header-sprite-max-dimensions);
        max-width: var(--card-header-sprite-max-dimensions);
        object-fit: scale-down;
    }
}

p.subtitleRow {
    padding-left: 16px;
    font-size: var(--card-subheader-pixel-font-size);
}

div.statsContainer {
    display: flex;
    flex-flow: row wrap;
    column-gap: 5%;
    padding: 0px 8px 0px 8px;

    div.stat {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 30%;
        column-gap: 6px;

        //Forces values with complex displays (range) to stay on the same line
        .statValue {
            display: flex;
            flex-flow: row nowrap;
        }
    }
}

div.textFieldContainer {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 4px;
}