body{
	background-color: rgb(0, 0, 0);
}

.image-blurred-edge {
	height: 100%;
	width: 100%;
	background-image: url('images/Fates Light.png');
	background-size: 100%;
    	box-shadow: 0 0 50px 50px black inset;
}

.centeredContent{
	position: absolute;
	height: 570px;
	width: 950px;
	top: calc(50% - 285px);
	left: calc(50% - 475px);
	text-align: center;
}

.introduction{
	position: absolute;
	width: 505px;
	top: 80px;
	left: 220px;
	text-align: center;
	font-family: "Optima";
	font-size: 12px;
	color: rgb(64, 7, 0);
}
.scrollBox{
	/*Is there a way to make the boxes closer
	to each other?*/
	/*FIXED IT IN .TEAMICON!*/

	position: absolute;
	/*NOTE: Fixed height and top values to make it
	seem like the boxes are appearing from the
	bottom of the fade and also leave room at
	the top of the banner for information etc.
	Any way to make the boxes themselves fade at
	the bottom?*/
	height: 270px;
	width: 505px;
	top: 142px;
	left: 220px;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
}

.teamIcon{
	height: 70px;
	border: none;
	background-color: transparent;
}

.teamIcon:hover{
	cursor:pointer;
	filter: brightness(120%);
	/*NOTE: We should add a fun animation where the
	selector pointer moves to a highlighted area.
	I've already gone ahead and added the pointer as
	a png (pointer.png)*/
}

.label{
	position: relative;
	font-family: "Optima";
	font-weight: bold;
	/*NOTE: I'm sure there must be a better way to
	change the shift of the fonts!*/
	top: -50px;
	text-align: left;
	left: 50px;
	font-size: 15px;
	color: rgb(64, 7, 0);
}

.gm{
	position: relative;
	font-family: "Optima";
	font-weight: bold;
	/*NOTE: I'm sure there must be a better way to
	change the shift of the fonts!*/
	top: -47px;
	text-align: left;
	left: 65px;
	font-size: 15px;
	color: rgb(234, 209, 135);
}
