body{
	background-color: rgb(0, 0, 0);
}

.image-blurred-edge {
	margin: 0 auto;
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	background-image: url('images/Fates Light.png');
	background-repeat: no-repeat;
	background-size: 960px;
	background-position: center center;
    	box-shadow: 0 0 100px 100px black inset;
}

.centeredContent{
	position:absolute;
	height: 100px;
	width: 800px;
	top: calc(50% - 50px);
	left: calc(50% - 400px);
	text-align: center;
}

.teamIcon{
	background:url('images/Save Box.png') no-repeat;
	height: 100%;
	width: 100%;
	border: none;
	text-align: center;
	font-family: "Georgia";
	font-size: 50px;
}

.teamIcon:hover{
	cursor:pointer;
	filter: brightness(120%);
}

.teamIconLabel{
	/*position: relative;
	top: calc(50% - 30px);*/
}
