#tileContainer {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 12px;
    padding: 16px 16px 24px 16px;

    p { margin: 0px; }
}

#headerRow { 
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    align-items: center;
    column-gap: 16px;

    h1 {
        margin: 0px;
        font-family: macExtMinecraft;
        font-style: normal;
        font-weight: normal;
        font-size: var(--h1-pixel-font-size);
    }
}