<div layout="column">
    <div layout="row" layout-align="left center">
        <span ng-if="sysdata.spriteURL.length > 0" layout="column" layout-align="center center" style="height: 24px; width: 24px; margin-right: 4px;">
            <img ng-src="{{sysdata.spriteURL}}" style="max-height: 24px; max-width: 24px;"/>
        </span>
        <span layout="row" layout-align="start center" class="rem0_9Text">
            <span>{{sysdata.name}}</span>
        </span>
    </div>
    <div ng-repeat="text in sysdata.textFields track by $index" class="rem0_8Text leftPadding" ng-class="{'halfBottomMargin': !$last}" layout="row">{{text}}</div>
</div>
