<md-card ng-click="expandItemDisplay()"
         class="md-card-hover verticalPadding horizontalPadding"
         layout="column"
         ng-class="{'clickable': !lockExpansion}">
    <div layout="row" layout-align="space-between start" ng-class="{'opacity50': !item.canEquip || item.isUsePrevented}">
        <div layout="column">
            <div layout="row" layout-align="left center">
                <span ng-if="sysdata.spriteURL.length > 0" layout="column" layout-align="center center" style="height: 24px; width: 24px; margin-right: 4px;">
                    <img ng-src="{{sysdata.spriteURL}}" style="max-height: 24px; max-width: 24px;"/>
                </span>
                <span layout="row" layout-align="start center" ng-class="{'droppableItemColor': item.isDroppable == true}">
                    <span>{{item.name}}</span>
                    <span ng-if="item.uses > 0">&nbsp;({{item.uses}})</span>
                </span>
                <span layout="row" layout-align="start center" ng-if="item.engravings.length > 0" style="margin-left: 4px;">
                    <img ng-repeat="engraving in item.engravings"
                         ng-if="engravingsysdata[engraving].spriteURL.length > 0"
                         ng-src="{{engravingsysdata[engraving].spriteURL}}" 
                         style="max-height: 24px; max-width: 24px;"
                         title="{{engraving}}" />
                </span>
                <span layout="row" layout-align="start center" ng-if="item.tags.length > 0" style="margin-left: 4px;">
                    <img ng-repeat="tag in item.tags"
                         ng-if="tagsysdata[tag].spriteURL.length > 0"
                         ng-src="{{tagsysdata[tag].spriteURL}}" 
                         style="max-height: 24px; max-width: 24px;"
                         title="{{tag}}" />
                </span>
            </div>
            <div layout="row" class="rem0_8Text leftPadding">
                <span ng-if="sysdata.weaponRank.length > 0">{{sysdata.weaponRank}}&nbsp;-&nbsp;</span>{{sysdata.category}}
                <span ng-if="sysdata.utilizedStats.length > 0 || sysdata.targetedStats.length > 0">
                    &nbsp;(<span ng-if="sysdata.utilizedStats.length > 0" ng-repeat="stat in sysdata.utilizedStats track by $index">{{stat}}<span ng-if="!$last">/</span></span><i ng-if="sysdata.targetedStats.length > 0" class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i><span ng-if="sysdata.targetedStats.length > 0" ng-repeat="stat in sysdata.targetedStats track by $index">{{stat}}<span ng-if="!$last">/</span></span>)
                </span>
            </div>
         </div>
         <div layout="row" layout-align="end start">
            <i class="fa fa-ban" ng-if="item.isUsePrevented" aria-label="Use Prevented" style="margin-left: 4px;"><md-tooltip md-direction="top">Use Prevented</md-tooltip></i>
            <i class="fa fa-gift" ng-if="item.isDroppable" aria-label="Droppable" style="margin-left: 4px;"><md-tooltip md-direction="top">Droppable</md-tooltip></i>
            <i class="fa fa-star" ng-if="item.isPrimaryEquipped || item.isSecondaryEquipped" aria-label="Equipped" style="margin-left: 4px;"><md-tooltip md-direction="top">Equipped</md-tooltip></i>
        </div>
    </div>
    <div ng-if="expanded">
        <div ng-if="item.uses > 0 || item.maxUses > 0 || item.minRange.finalValue > 0 || sysdata.utilizedStats.length > 0" class="rem0_8Text">
            <md-divider></md-divider>
            <div layout="row" layout-wrap>
                <div ng-if="sysdata.utilizedStats.length > 0" ng-repeat="(stat, statObj) in item.stats track by stat" layout="row" layout-align="space-between" flex="33" class="horizontalPadding">
                    <span>{{stat}}</span>
                    <span ng-class="{'buffedStatColor': (statObj.baseValue < statObj.finalValue && !statObj.invertModifiedDisplayColors) || (statObj.baseValue > statObj.finalValue && statObj.invertModifiedDisplayColors), 'debuffedStatColor': (statObj.baseValue > statObj.finalValue && !statObj.invertModifiedDisplayColors) || (statObj.baseValue < statObj.finalValue && statObj.invertModifiedDisplayColors)}">
                        <i class="fa fa-long-arrow-down" ng-if="statObj.baseValue > statObj.finalValue" aria-hidden="true"></i>
                        <i class="fa fa-long-arrow-up" ng-if="statObj.baseValue < statObj.finalValue" aria-hidden="true"></i>
                        {{statObj.finalValue}}
                    </span>
                </div>
                <div ng-if="item.minRange.finalValue > 0" layout="row" layout-align="space-between" flex="33" class="horizontalPadding">
                    <span>Rng</span>
                    <span>
                        <span ng-class="{'buffedStatColor': item.minRange.finalValue < item.minRange.baseValue, 'debuffedStatColor': item.minRange.finalValue > item.minRange.baseValue}">
                            <i class="fa fa-long-arrow-down" ng-if="item.minRange.finalValue < item.minRange.baseValue" aria-hidden="true"></i>
                            <i class="fa fa-long-arrow-up" ng-if="item.minRange.finalValue > item.minRange.baseValue" aria-hidden="true"></i>
                            {{item.minRange.finalValue}}
                        </span>
                        <span ng-if="item.minRange.finalValue != item.maxRange.finalValue || item.maxRange.finalValue != item.maxRange.baseValue">
                            <span>-</span>
                            <span ng-class="{'buffedStatColor': item.maxRange.finalValue > item.maxRange.baseValue, 'debuffedStatColor': item.maxRange.finalValue < item.maxRange.baseValue}">
                                {{item.maxRange.finalValue}}
                                <i class="fa fa-long-arrow-up" ng-if="item.maxRange.finalValue > item.maxRange.baseValue" aria-hidden="true"></i>
                                <i class="fa fa-long-arrow-down" ng-if="item.maxRange.finalValue < item.maxRange.baseValue" aria-hidden="true"></i>
                            </span>
                        </span>
                    </span>
                </div>
                <div ng-if="sysdata.range.shape != 0" layout="row" layout-align="space-between" flex="33" class="horizontalPadding">
                    <span>Shp</span>
                    <span ng-if="sysdata.range.shape == 1">Square</span>
                    <span ng-if="sysdata.range.shape == 2">Cross</span>
                    <span ng-if="sysdata.range.shape == 3">Saltire</span>
                    <span ng-if="sysdata.range.shape == 4">Star</span>
                </div>
                <div ng-if="item.uses > 0 || item.maxUses > 0" layout="row" layout-align="space-between" flex="33" class="horizontalPadding">
                    <span>
                        {{item.uses > 0 && item.maxUses == 0 ? "Quantity" : "Uses"}}
                    </span>
                    <span>
                        <span ng-if="item.uses > 0">{{item.uses}}</span>
                        <span ng-if="item.maxUses > 0">
                            <span ng-if="item.uses > 0">/</span>
                            <span ng-class="{'buffedStatColor': item.maxUses > sysdata.maxUses}">
                                <i class="fa fa-long-arrow-up" ng-if="item.maxUses > sysdata.maxUses" aria-hidden="true"></i>
                                {{item.maxUses}}
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div ng-if="item.engravings.length > 0 || sysdata.textFields.length > 0 || sysdata.graphicURL.length > 0">
            <md-divider></md-divider>
            <div ng-if="item.engravings.length > 0" ng-repeat="engraving in item.engravings track by $index" ng-class="{'bottomMargin': !$last || sysdata.textFields.length > 0 || sysdata.graphicURL.length > 0}">
                <engraving sysdata="engravingsysdata[engraving]"></engraving>
            </div>
            <div ng-repeat="text in sysdata.textFields track by $index" class="rem0_9Text" ng-class="{'bottomMargin': !$last || sysdata.graphicURL.length > 0}" layout="row">{{text}}</div>
            <img ng-if="sysdata.graphicURL.length > 0" ng-src="{{sysdata.graphicURL}}" style="max-height: 100px; max-width: 250px;" />
        </div>
    </div>
    <!--Equipped Skills-->
    <div layout="column" ng-if="sysdata.equippedSkills.length > 0">
        <md-divider ng-if="expanded"></md-divider>
        <skill ng-repeat="skill in sysdata.equippedSkills track by $index"
               skill="skill"
               sysdata="skillsysdata[skill.name]"
               expanded="item.isPrimaryEquipped || item.isSecondaryEquipped || expanded"
               active="item.isPrimaryEquipped || item.isSecondaryEquipped">
        </skill>
    </div>
    <!--Range Warnings-->
    <div ng-if="item.maxRangeExceedsCalculationLimit || item.isNotInInventory" class="rem0_8Text">
        <md-divider></md-divider>
        <div ng-if="item.maxRangeExceedsCalculationLimit" class="errorMessageColor" layout="row" layout-align="start center" >
            <i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> Item Range Not Visible
        </div>
        <div ng-if="item.isNotInInventory" class="warningMessageColor" ng-class="{'halfTopMargin': item.maxRangeExceedsCalculationLimit}" layout="row" layout-align="start center" >
            <i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> Item Not Found In Inventory
        </div>
    </div>
</md-card>