<md-menu>
  <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open links menu">
      <i class="fa fa-link fa-lg" aria-hidden="true"><md-tooltip md-direction="right">Links</md-tooltip></i>
  </md-button>
  <md-menu-content width="4" style="max-height: 90vh;">
    <md-menu-item ng-if="showMap">
      <md-button id="btnMap" ng-click="navigateToMap()">
        <i class="fa fa-map-o fa-fw" aria-hidden="true"></i>
        &nbsp;Map
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="showAnalyzer">
      <md-button id="btnLaunchAnalyzer" ng-click="navigateToAnalyzer()">
        <i class="fa fa-search fa-fw" aria-hidden="true"></i>
        &nbsp;Map Analyzer Tool
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button id="btnDownload" ng-click="downloadMap()">
        <i class="fa fa-download fa-fw" aria-hidden="true"></i>
        &nbsp;Download Map as Image
      </md-button>
    </md-menu-item>
    <md-divider></md-divider>
    <md-menu-item ng-if="chapterPostURL.length > 0">
      <md-button id="btnLaunchChapterPost" ng-click="launchChapterPostTab()">
        <i class="fa fa-reddit fa-fw" aria-hidden="true"></i>
        &nbsp;Chapter Post
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="showConvoy">
        <md-button id="btnLaunchConvoy" ng-click="navigateToConvoy()">
          <i class="fa fa-archive fa-fw" aria-hidden="true"></i>
          &nbsp;Convoy
        </md-button>
    </md-menu-item>
    <md-menu-item ng-if="showShop">
        <md-button id="btnLaunchShop" ng-click="navigateToShop()">
          <i class="fa fa-shopping-basket fa-fw" aria-hidden="true"></i>
          &nbsp;Shop
        </md-button>
    </md-menu-item>
    <md-divider ng-if="chapterPostURL.length > 0 || showConvoy || showShop"></md-divider>
    <md-menu-item>
      <md-button id="btnReturnHome" ng-click="navigateToHomepage()">
        <i class="fa fa-home fa-fw" aria-hidden="true"></i>
        &nbsp;Return to homepage
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>