<div ng-repeat="(stat, statObj) in statList track by stat" layout="column" flex="50" class="horizontalPadding">
    <div layout="row" layout-align="space-between">
        <span>{{stat}}</span>
        <span ng-class="{'buffedStatColor': statObj.finalValue > statObj.baseValue, 'debuffedStatColor': statObj.finalValue < statObj.baseValue}">
            <i class="fa fa-long-arrow-up" ng-if="statObj.finalValue > statObj.baseValue" aria-hidden="true"></i>
            <i class="fa fa-long-arrow-down" ng-if="statObj.finalValue < statObj.baseValue" aria-hidden="true"></i>
            {{statObj.finalValue}}
        </span>
    </div>
    <div layout="column" ng-if="expanded" class="rem0_8Text leftPadding halfBottomMargin">
        <div layout="row" layout-align="space-between">
            <span>Base</span><span>{{statObj.baseValue}}</span>
        </div>
        <div ng-repeat="(mod, modVal) in statObj.modifiers track by mod" layout="row" layout-align="space-between">
            <span>{{mod}}</span><span class="leftMargin">{{modVal}}</span>
        </div>
    </div>
</div>