<div ng-repeat="(stat, statObj) in statList track by stat" layout="column" flex="50" class="horizontalPadding">
    <div layout="row" layout-align="space-between" ng-class="{'boldText': expanded}">
        <span>{{stat}}</span>
        <span ng-class="{'buffedStatColor': (statObj.baseValue < statObj.finalValue && !statObj.invertModifiedDisplayColors) || (statObj.baseValue > statObj.finalValue && statObj.invertModifiedDisplayColors), 'debuffedStatColor': (statObj.baseValue > statObj.finalValue && !statObj.invertModifiedDisplayColors) || (statObj.baseValue < statObj.finalValue && statObj.invertModifiedDisplayColors)}">
            <i class="fa fa-long-arrow-up" ng-if="statObj.finalValue > statObj.baseValue" aria-hidden="true"></i>
            <i class="fa fa-long-arrow-down" ng-if="statObj.finalValue < statObj.baseValue" aria-hidden="true"></i>
            {{statObj.finalValue}}
        </span>
    </div>
    <div layout="column" ng-if="expanded" class="rem0_8Text leftPadding halfBottomMargin">
        <div layout="row" layout-align="space-between" class="quarterBottomMargin">
            <span>Base</span><span>{{statObj.baseValue}}</span>
        </div>
        <div ng-repeat="(mod, modVal) in statObj.modifiers track by mod" layout="row" layout-align="space-between" class="quarterBottomMargin">
            <span>{{mod}}</span><span class="leftMargin">{{modVal}}</span>
        </div>
    </div>
</div>