<div class="md-chip-custom"
     style="width: 100%;">
    <div layout="row" layout-align="space-between center" class="boldText">
    <span>
        {{status.name}}
        <span ng-if="status.remainingTurns > 0">
            ({{status.remainingTurns}}<span ng-if="sysdata.turns > 0">/{{sysdata.turns}}</span> turns)
        </span>
    </span>
    <i ng-if="sysdata.type == 0" class="fa fa-plus-circle" aria-hidden="true"><md-tooltip md-direction="left">Positive</md-tooltip></i>
    <i ng-if="sysdata.type == 1" class="fa fa-minus-circle" aria-hidden="true"><md-tooltip md-direction="left">Negative</md-tooltip></i>
    <i ng-if="sysdata.type == 2" class="fa fa-circle" aria-hidden="true"><md-tooltip md-direction="left">Neutral</md-tooltip></i>
    </div>
    <div ng-repeat="text in sysdata.textFields track by $index" layout="row" ng-class="{'halfBottomMargin': !$last}">
    {{text}}
    </div>
</div>