<div class="md-chip-custom"
     style="width: 100%;">
    <div layout="row" layout-align="space-between center" class="boldText">
        <span layout="row" layout-align="left center">
            <img ng-if="sysdata.spriteURL.length > 0" ng-src="{{sysdata.spriteURL}}" style="margin-right: 4px; max-height: 12px; max-width: 12px;"/>
            {{status.name}}
            <span ng-if="status.remainingTurns > 0">
                &nbsp;({{status.remainingTurns}}<span ng-if="sysdata.turns > 0">/{{sysdata.turns}}</span> turns)
            </span>
        </span>
        <div layout="row" layout-align="end start">
            <i ng-if="sysdata.type == 1" class="fa fa-plus-circle" aria-hidden="true"><md-tooltip md-direction="top">Positive</md-tooltip></i>
            <i ng-if="sysdata.type == 2" class="fa fa-minus-circle" aria-hidden="true"><md-tooltip md-direction="top">Negative</md-tooltip></i>
            <i ng-if="sysdata.type == 3" class="fa fa-circle" aria-hidden="true"><md-tooltip md-direction="top">Neutral</md-tooltip></i>
            <i ng-if="sysdata.isEffectConfigured" class="fa fa-cog" aria-label="Effect Configured" style="margin-left: 4px;"><md-tooltip md-direction="top">Effect Configured</md-tooltip></i>    
        </div>
    </div>
    <!--Additional Stats-->
    <div layout="row" layout-align="start center" layout-wrap class="leftPadding rem0_75Text halfBottomMargin">
        <span ng-repeat="(stat, statVal) in status.additionalStats track by stat">
            <span ng-if="!$first">, </span>{{statVal}} {{stat}}
        </span>
    </div>
    <!--Text Fields-->
    <div ng-repeat="text in sysdata.textFields track by $index" layout="row" ng-class="{'halfBottomMargin': !$last}">
        {{text}}
    </div>
</div>