<img id="{{unit.name}}_sprite" ng-src="{{unit.sprite.spriteURL}}" class="unitSpriteImage" ng-class="{'flipHorizontal' : affiliationsysdata[unit.affiliation].flipUnitSprites}" />
<div class="absolute"
     ng-style="{'width': ((tileconsts.tileSize + tileconsts.tileSpacing) * unit.location.unitSize)+'px', 'height': ((tileconsts.tileSize + tileconsts.tileSpacing) * unit.location.unitSize)+'px'}">
    <!--Status condition icon-->
    <div ng-if="statusSpriteList.length > 0" class="unitStatusSprites" layout="row" layout-align="right top">
        <img ng-repeat="statusSprite in statusSpriteList track by $index"
            ng-src="{{statusSprite}}" 
            ng-show="statusIterator == $index"
            ng-style="{'max-width': (tileconsts.tileSize < 70 ? '12px' : '24px'), 'max-height': (tileconsts.tileSize < 70 ? '12px' : '24px')}"
            ng-class="{'dim': unit.location.isBackOfPair}"/>
    </div>
    <!--Tag icons-->
     <div ng-if="tagSpriteList.length > 0" class="unitTagSprites" layout="row" layout-align="right top">
            <img ng-repeat="tagSprite in tagSpriteList track by $index"
                ng-src="{{tagSprite}}" 
                ng-show="tagIterator == $index"
                ng-style="{'max-width': (tileconsts.tileSize < 70 ? '12px' : '24px'), 'max-height': (tileconsts.tileSize < 70 ? '12px' : '24px')}"
                ng-class="{'dim': unit.location.isBackOfPair}"/>
    </div>
    <!--Unit number-->
    <div class="unitNumber" layout="row" layout-align="right end">
        <img ng-repeat="digit in unit.unitNumber.split('') track by $index"
                ng-src="IMG/num_{{digit}}.png"
                ng-style="{'width': (tileconsts.tileSize < 70 ? '5px' : '10px'), 'height': (tileconsts.tileSize < 70 ? '7px' : '14px')}" 
                ng-class="{'dim': unit.location.isBackOfPair}"/>
    </div>
    <!--Health bar-->
    <unithealthbar hppercentage="unit.stats.hp.percentage" fallbackwidth="((tileconsts.tileSize + tileconsts.tileSpacing) * unit.location.unitSize) - 3" fallbackheight="3" class="unitHealthBarPosition" />
</div>
