div.engageAttackContainer {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 8px;

    p  { margin: 0px; }
}

div.engageAttackHeader {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 8px;
    
    p  { 
        font-family: macExtMinecraft;
    }

    img.engageAttackSprite {
        min-width: 24px;
        max-width: 24px;
        object-fit: scale-down;
    }
}