@use '@angular/material' as mat;

#paintSidenavContainer {
    display: flex;
    flex-flow: column nowrap;
    padding: 16px 16px 24px 16px;
    row-gap: 16px;
}

h1 {
    margin: 0px;
    font-family: macExtMinecraft;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.65rem;
}

.penWidthToggles {
    @include mat.button-toggle-overrides((
        shape: 8px,
        label-text-font: macExtMinecraft
    ));

    .mat-button-toggle {
        flex: 1;
    }
}

div.colorButtonsRow { 
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    row-gap: 16px;
    padding: 0px 16px 0px 16px;
}

button.penColorButton {
    @include mat.button-overrides((
        outlined-container-shape: 50%,
        protected-label-text-font: macExtMinecraft,
        protected-label-text-color: 'black'
    ));

    width: 18%;

    ::ng-deep .mdc-button__label {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }
}