.opacity50 {
    opacity: 0.5;
}

div.skillContainer {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 8px;

    p { margin: 0px; }
}

div.headerRow { 
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    justify-content: space-between;
    column-gap: 16px;
}

div.titleColumn {
    display: flex;
    flex-flow: column nowrap;
    font-family: macExtMinecraft;
}

div.titleRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 8px;
    font-size: var(--card-header-pixel-font-size);

    img.sprite { 
        max-height: var(--card-header-sprite-max-dimensions);
        max-width: var(--card-header-sprite-max-dimensions);
        object-fit: scale-down;
    }
}

p.subtitleRow {
    padding-left: 16px;
    font-size: var(--card-subheader-pixel-font-size);
}

div.iconsRow {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 4px;
}

div.textFieldsContainer {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 4px;
}