<div layout="row" layout-align="center center" layout-fill>
    <div layout="column" layout-align="start center" style="height: 80%;">
        <img src="IMG/re_logo.png" layout-padding />
        <div layout="column" layout-align="center" style="width: 400px;">
            <div layout="row" layout-align="center">
                <md-button class="md-raised md-primary" ng-click="navigateToInfo()" flex>
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Info
                </md-button>
                <md-button class="md-raised md-primary" ng-click="toggleAppTheme()" flex>
                    <span ng-if="getAppTheme() == 'dark'"><i class="fa fa-sun-o fa-lg fa-fw" aria-hidden="true"></i> Light Mode</span>
                    <span ng-if="getAppTheme() == 'default'"><i class="fa fa-moon-o fa-lg fa-fw" aria-hidden="true"></i> Dark Mode</span>
                </md-button>
            </div>
            <md-divider></md-divider>
            <md-content flex>
                <div ng-if="teamList.length == 0 && loadingTeams" layout="row" layout-align="center center">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div ng-if="teamList.length == 0 && !loadingTeams" style="text-align: center; padding-top: 8px;">
                    No teams were found.
                </div>
                <div ng-if="teamList.length > 0" ng-repeat="team in teamList">
                    <div layout="row" layout-align="space-between center">
                        <div>{{team.teamName}}</div>
                        <div>
                            <md-button class="md-icon-button" ng-click="navigateToMap(team.teamName)">
                                <i class="fa fa-map-o fa-lg" aria-hidden="true"><md-tooltip md-direction="top">Map</md-tooltip></i>
                            </md-button>
                            <md-button ng-disabled="!team.showConvoyLink" class="md-icon-button" ng-click="navigateToConvoy(team.teamName)">
                                <i class="fa fa-archive fa-lg" ng-if="team.showConvoyLink" aria-hidden="true"><md-tooltip md-direction="top">Convoy</md-tooltip></i>
                            </md-button>
                            <md-button ng-disabled="!team.showShopLink" class="md-icon-button" ng-click="navigateToShop(team.teamName)">
                                <i class="fa fa-shopping-basket fa-lg" ng-if="team.showShopLink" aria-hidden="true"><md-tooltip md-direction="top">Shop</md-tooltip></i>
                            </md-button>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </div>
            </md-content>
        </div>
    </div>
</div>