<loadingscreen ng-if="!loadComplete" error="errorContext"></loadingscreen>
<div ng-if="loadComplete" layout="row" layout-fill style="overflow: hidden;">
    <!--Toolbar-->
    <div id="divToolbar" layout="column" layout-align="space-between center" class="verticalPadding toolbarColor" style="width: 55px; height: 100%;">
        <div>
            <md-button id="btnShowSideNav" class="md-icon-button" ng-class="{'toolbarButtonColor': displayUnits}" ng-click="displayUnits = !displayUnits; displayTile = false;">
                <i class="fa fa-bars fa-lg" aria-hidden="true"><md-tooltip md-direction="right">Unit Info</md-tooltip></i>
            </md-button>
            <md-button id="btnShowTileInfo" class="md-icon-button" ng-class="{'toolbarButtonColor': displayTile}" ng-click="displayTile = !displayTile; displayUnits = false;">
                <i class="fa fa-square-o fa-lg" aria-hidden="true"><md-tooltip md-direction="right">Tile Info</md-tooltip></i>
            </md-button>
        </div>
        <div>
            <linksmenu chapterposturl="data.map.chapterPostURL" showconvoy="data.showConvoyLink" showshop="data.showShopLink" showmap="false" showanalyzer="true" />
        </div>
    </div>
    <!-- Search and unit display -->
    <div id="divUnitDisplay" ng-show="displayUnits" layout="column" class="verticalPadding horizontalPadding slide" style="width: 375px; height: 100%;">
        <!-- Search field -->
        <md-autocomplete
                id="mdAutoComplete"
                md-selected-item="search.selected"
                md-search-text="search.query"
                md-items="unit in unitsQuery(search.query) | orderBy: [unitSort, 'name']"
                md-item-text="unit.name"
                md-dropdown-items="5"
                md-min-length="0"
                md-escape-options="clear"
                md-no-cache="true"
                placeholder="Unit Name">
            <md-item-template>
                <div layout="row" layout-align="space-between center">
                    <span md-highlight-text="search.query" md-highlight-flags="i">{{unit.name}}</span>
                    <div layout="row">
                        <i ng-if="unit.location.pairedUnit.length > 0" class="fa fa-user-plus fa-lg fa-fw" aria-hidden="true"><md-tooltip md-direction="top">Paired</md-tooltip></i>
                        <i ng-if="unit.location.coordinate.x < 1 || unit.location.coordinate.y < 1" class="fa fa-eye-slash fa-lg fa-fw" aria-hidden="true"><md-tooltip md-direction="top">Hidden</md-tooltip></i>
                        <i ng-if="unit.pinned" class="fa fa-thumb-tack fa-lg fa-fw fa-rotate-45" aria-hidden="true"><md-tooltip md-direction="top">Pinned</md-tooltip></i>
                    </div>
                </div>
            </md-item-template>
        </md-autocomplete>
        <div layout="column" ng-if="numOfPinnedUnits > 0">
            <div layout="row" class="topMargin halfBottomMargin leftPadding rem0_9Text opacity50">
                Pinned Units
            </div>
            <div layout="row" layout-wrap>
                <div ng-repeat="unit in getPinnedUnitsList() | orderBy: 'name'" class="md-chip-custom-jumbo" style="width: 45%;">
                    <div layout="row" layout-align="space-between center" class="clickable">
                        <div ng-click="search.selected = unit" layout="column" flex style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" title="{{unit.name}}">
                            {{unit.name}}
                        </div>
                        <div ng-click="pinButton_OnClick(unit)" layout="column" layout-align="center end" flex="25" title="Click to unpin unit">
                            <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                        </div>
                    </div>  
                </div>
            </div>
            <md-divider style="margin-top: 4px;"></md-divider>
        </div>
        <!--Unit display-->
        <md-content ng-if="search.selected" layout-padding>
            <!-- Sprite, name, & pin icon -->
            <div layout="row" layout-align="space-between">
                <div layout="column">
                    <div layout="row" class="halfBottomMargin">
                        <img ng-src="{{search.selected.sprite.portraitURL.length > 0 ? search.selected.sprite.portraitURL : search.selected.sprite.spriteURL}}" style="max-width: 200px; max-height: 200px;"/>
                    </div>
                    <div layout="row">
                        <div layout="column" class="rem1_4Text boldText">
                            <i class="fa fa-caret-down fa-fw clickable" ng-class="{'fa-rotate-270': !unitInfoExpanded}" ng-click="unitInfoExpanded = !unitInfoExpanded" aria-hidden="true"></i>
                        </div>
                        <div layout="column">
                            <span class="rem1_4Text boldText">{{search.selected.name}}</span>
                            <span class="rem0_9Text leftPadding">Lvl. {{search.selected.stats.level}} {{search.selected.classes[0]}}</span>
                        </div>
                    </div>
                </div>
                <div layout="column">
                    <i ng-click="pinButton_OnClick(search.selected)" ng-class="{'opacity50': !search.selected.pinned}" class="fa fa-thumb-tack fa-lg fa-rotate-45 clickable" aria-hidden="true">
                        <md-tooltip md-direction="left">{{search.selected.pinned ? 'Unpin' : 'Pin'}} unit</md-tooltip>
                    </i>
                </div>
            </div>
            <!--Expanded unit info-->
            <div layout="column" ng-if="unitInfoExpanded">
                <div ng-if="search.selected.textFields.length > 0" ng-repeat="text in search.selected.textFields track by $index" layout="row" class="rem0_9Text bottomMargin">
                    {{text}}
                </div>
                <div ng-if="search.selected.player.length > 0" layout="row" class="rem0_9Text bottomMargin">
                    <b>Player</b>: {{search.selected.player}}
                </div>
                <!--Movement Type-->
                <div ng-if="search.selected.movementType.length > 0" layout="row" class="rem0_9Text bottomMargin">
                    <b>Movement Type</b>: {{search.selected.movementType}}
                </div>
                <!--Classes-->
                <div ng-if="search.selected.classes.length > 0" 
                     ng-repeat="class in search.selected.classes track by class"
                     ng-init="classData = data.system.classes[class]"
                     layout="column" 
                     class="bottomMargin">
                    <div ng-if="$first" layout="row" class="rem0_9Text bottomMargin">
                        <b>Movement Type</b>: {{classData.movementType}}
                    </div>
                    <div layout="row" class="rem0_9Text">
                        <b>Class</b>: {{class}}
                    </div>
                    <div layout="row" ng-repeat="text in classData.textFields track by $index" class="rem0_8Text leftPadding" ng-class="{'bottomMargin': !$last}">
                        {{text}}
                    </div>
                </div>
                <!--Affiliation-->
                <div layout="column">
                    <div layout="row" class="rem0_9Text">
                        <b>Affiliation</b>: {{search.selected.affiliation}}
                    </div>
                    <div layout="row" ng-repeat="text in data.system.affiliations[search.selected.affiliation].textFields track by $index" class="rem0_8Text leftPadding" ng-class="{'bottomMargin': !$last}">
                        {{text}}
                    </div>
                </div>      
            </div>
            <md-divider ng-if="unitInfoExpanded"></md-divider>
            <div layout="row" layout-wrap>
                <!--HP-->
                <div layout="row" layout-align="space-between" flex="50" class="horizontalPadding">
                    <span>HP</span>
                    <span>{{search.selected.stats.hp.current}} / {{search.selected.stats.hp.maximum}}</span>
                </div>
                <!--Exp-->
                <div ng-if="search.selected.stats.experience > -1" layout="row" layout-align="space-between" flex="50" class="horizontalPadding">
                    <span>Exp</span>
                    <span>{{search.selected.stats.experience}}</span>
                </div>
                <!--Currency-->
                <div ng-if="search.selected.stats.heldCurrency > 0" layout="row" layout-align="space-between" flex="50" class="horizontalPadding">
                    <span>Money</span>
                    <currency amount="search.selected.stats.heldCurrency" format="data.system.currency"></currency>
                </div>
            </div>
            <!--Pair-Up Info-->
            <div ng-if="search.selected.location.pairedUnit.length > 0" layout="row" layout-align="left center" class="rem0_9Text">
                <i class="fa fa-user-plus fa-fw" aria-hidden="true" style="margin-right: 4px;"><md-tooltip md-direction="top">Unit Pair-Up</md-tooltip></i>
                Paired with&nbsp;<span ng-click="search.selected = getUnitByName(search.selected.location.pairedUnit)" class="hyperlinkText">{{search.selected.location.pairedUnit}}</span>&nbsp;({{search.selected.location.isBackOfPair ? 'back' : 'front'}})
            </div>
            <!--Tags-->
            <div layout="row" ng-if="search.selected.tags.length > 0">
                <div layout="column" style="margin-right: 4px; padding-top: 5px;">
                    <i class="fa fa-tags fa-fw" aria-hidden="true">
                        <md-tooltip md-direction="top">Tags</md-tooltip>
                    </i>
                </div>
                <div layout="row" layout-wrap>
                    <div ng-repeat="tag in search.selected.tags track by tag"
                         ng-init="tagData = data.system.tags[tag]"
                         class="md-chip-custom"
                         layout="row"
                         layout-align="left center">
                            <img ng-if="tagData.spriteURL.length > 0" ng-src="{{tagData.spriteURL}}" style="margin-right: 4px; max-height: 12px; max-width: 12px;"/>
                            {{tag}}
                    </div>
                </div>
            </div>
            <!--Behavior-->
            <div ng-if="search.selected.behavior.length > 0" layout="row" class="rem0_9Text">
                <div layout="column" style="margin-right: 4px;">
                    <i class="fa fa-cogs fa-fw" aria-hidden="true">
                        <md-tooltip md-direction="top">Unit Behavior</md-tooltip>
                    </i>
                </div>
                <div layout="row">
                    {{search.selected.behavior}}
                </div>
            </div>
            <!-- Stats -->
            <div class="rem1_2Text boldText" layout="row">
                <i class="fa fa-caret-down fa-fw clickable" ng-class="{'fa-rotate-270': !statsExpanded}" ng-click="toggleStatsExpanded()" aria-hidden="true"></i>
                Stats
            </div>
            <!-- Combat stats -->
            <modifiedstatlist ng-if="dictHasKeys(search.selected.stats.combat)" data="search.selected.stats.combat" expanded="statsExpanded" layout="row" layout-wrap></modifiedstatlist>
            <!-- System stats -->
            <modifiedstatlist ng-if="dictHasKeys(search.selected.stats.system)" data="search.selected.stats.system" expanded="statsExpanded" layout="row" layout-wrap></modifiedstatlist>
            <!-- Regular stats -->
            <modifiedstatlist ng-if="dictHasKeys(search.selected.stats.general)" data="search.selected.stats.general" expanded="statsExpanded" layout="row" layout-wrap></modifiedstatlist>
            <!--Weapon ranks-->
            <div layout="row">
                <div layout="row" style="margin-right: 4px; padding-top: 5px;">
                    <i class="fa fa-tasks fa-fw" aria-hidden="true">
                        <md-tooltip md-direction="top">Weapon Ranks</md-tooltip>
                    </i>
                </div>
                <div layout="row" layout-wrap>
                    <div ng-repeat="(type, rank) in search.selected.weaponRanks track by type" class="md-chip-custom">{{type}}<span ng-if="rank.length > 0"> - {{rank}}</span></div>
                </div>
            </div>
            <!-- Statuses -->
            <div ng-if="search.selected.statusConditions.length > 0" layout="row">
                <div layout="row" style="margin-right: 4px; padding-top: 5px;">
                    <i class="fa fa-medkit fa-fw" aria-hidden="true">
                        <md-tooltip md-direction="top">Status Conditions</md-tooltip>
                    </i>
                </div>
                <div layout="column" flex="100" style="padding-right: 8px;">
                   <statuscondition ng-repeat="status in search.selected.statusConditions track by $index"
                                    status="status"
                                    sysdata="data.system.statusConditions[status.name]"></statuscondition>
                </div>
            </div>
            <md-divider></md-divider>
            <!-- Inventory -->
            <div ng-if="search.selected.inventory.length > 1" class="rem1_2Text boldText" layout="row">
                <i class="fa fa-caret-down fa-fw clickable" ng-class="{'fa-rotate-270': !invExpanded}" ng-click="toggleInvExpanded()" aria-hidden="true"></i>
                Inventory
            </div>
            <div layout="column" ng-if="invExpanded">
                <inventoryitem ng-repeat="item in search.selected.inventory track by $index"  
                               item="item"
                               sysdata="data.system.items[item.name]"
                               tagsysdata="data.system.tags">
                </inventoryitem>
            </div>
            <md-divider></md-divider>
            <!--Skills-->
            <div ng-if="search.selected.skills.length > 0" class="rem1_2Text boldText" layout="row">
                <i class="fa fa-caret-down fa-fw clickable" ng-class="{'fa-rotate-270': !skillsExpanded}" ng-click="toggleSkillsExpanded()" aria-hidden="true"></i>
                Skills
            </div>
            <div layout="column" ng-if="skillsExpanded">
                <skill ng-repeat="skill in search.selected.skills track by $index"
                       skill="skill"
                       sysdata="data.system.skills[skill]">
                </skill>
            </div>
        </md-content>
    </div>
    <!-- Tile display -->
    <div id="divTileDisplay" ng-show="displayTile" layout="column" class="verticalPadding horizontalPadding slide" style="width: 375px; height: 100%;">
        <md-content ng-if="selectedTile" class="horizontalPadding">
            <div layout="row" layout-align="left center" class="rem1_4Text boldText bottomMargin">
                <!--Tile preview-->
                <div ng-style="{'background-image': 'url({{data.map.mapImageURL}})', 'background-position': 'left -'+((data.map.constants.tileSize + data.map.constants.tileSpacing)*(selectedTile.coordinate.x-(data.map.constants.hasHeaderTopLeft ? 0 : 1)))+'px top -'+((data.map.constants.tileSize + data.map.constants.tileSpacing)*(selectedTile.coordinate.y-(data.map.constants.hasHeaderTopLeft ? 0 : 1)))+'px', 'width': (data.map.constants.tileSize + data.map.constants.tileSpacing)+'px', 'height': (data.map.constants.tileSize + data.map.constants.tileSpacing)+'px', 'overflow': hidden}"></div>
                <!--Coords-->
                <span class="leftPadding">Tile ({{selectedTile.coordinate.x}},{{selectedTile.coordinate.y}})</span>
            </div>
            <md-divider></md-divider>
            <!-- Occupying Unit -->
            <div layout="row" class="bottomMargin">
                <b>Unit</b>:&nbsp;
                <span ng-if="selectedTile.unitData.occupyingUnitName.length == 0" class="opacity50"><i>None</i></span>
                <span ng-if="selectedTile.unitData.occupyingUnitName.length > 0">
                    {{selectedTile.unitData.occupyingUnitName}}
                    <span ng-if="selectedTile.unitData.location.pairedUnitName.length > 0"> / {{selectedTile.unitData.location.pairedUnitName}}</span>
                </span>
            </div>
            <!-- Terrain Type -->
            <tileterraintype tile="selectedTile" sysdata="data.system.terrainTypes[selectedTile.terrainType]" layout="column" class="bottomMargin"></tileterraintype>
            <md-divider></md-divider>
            <!-- Terrain Effects -->
            <div ng-repeat="effect in selectedTile.terrainEffects"
                 ng-init="effectData = data.system.terrainEffects[effect.name]"
                 layout="column"
                 class="bottomMargin">
                <div layout="row">
                    <span class="boldText">Terrain Effect:</span>&nbsp;{{effectData.name}}
                </div>
                <div layout="row" layout-wrap class="rem0_9Text bottomMargin">
                    <div ng-if="effectData.hpModifier != 0" layout="row" layout-align="space-between" flex="50" class="horizontalPadding">
                        <span>HP</span>
                        <span>
                            <span ng-if="effectData.hpModifier >= 0">+</span>{{effectData.hpModifier}}%
                        </span>
                    </div>
                    <!-- Combat Stat Modifiers -->
                    <div ng-repeat="(stat, val) in effectData.combatStatModifiers" layout="row" layout-align="space-between" flex="50" class="horizontalPadding">
                        <span>{{stat}}</span>
                        <span>
                            <span ng-if="val >= 0">+</span>{{val}}
                        </span>
                    </div>
                    <!-- Stat Modifiers -->
                    <div ng-repeat="(stat, val) in effectData.statModifiers" layout="row" layout-align="space-between" flex="50" class="horizontalPadding">
                        <span>{{stat}}</span>
                        <span>
                            <span ng-if="val >= 0">+</span>{{val}}
                        </span>
                    </div>
                </div>
                <div layout="row" ng-repeat="text in effectData.textFields" class="rem0_9Text leftPadding" ng-class="{'bottomMargin': !$last}">
                    {{text}}
                </div>
            </div>
        </md-content>
    </div>

    <!-- Map -->
    <md-content id="mapScollBox" class="backgroundTexture" layout-padding flex>
        <div class="mapBackground"
             ng-style="{'background-image': 'url({{data.map.mapImageURL}})', 'width': data.map.imageWidth + 'px', 'height': data.map.imageHeight + 'px', 'padding-top': data.map.constants.hasHeaderTopLeft ? (data.map.constants.tileSize)+'px' : '0px', 'padding-left': data.map.constants.hasHeaderTopLeft ? (data.map.constants.tileSize)+'px' : '0px'}">
             <!--Draw tiles-->
             <div ng-repeat="row in data.map.tiles track by $index"
                 class="mapRow"
                 ng-style="{'height': data.map.constants.tileSize+'px', 'margin-bottom': data.map.constants.tileSpacing+'px'}">
                <div ng-repeat="tile in row track by $index" 
                     class="mapTile"
                     ng-style="{'width': (data.map.constants.tileSize+1)+'px', 'height': (data.map.constants.tileSize+1)+'px', 'margin-right': data.map.constants.tileSpacing+'px'}"
                     title="({{tile.coordinate.x}},{{tile.coordinate.y}}) {{tile.terrainType}} {{tile.unitData.occupyingUnitName.length > 0 ? '['+tile.unitData.occupyingUnitName+(tile.unitData.location.pairedUnitName.length > 0 ? '/'+tile.unitData.location.pairedUnitName : '')+']' : ''}}"
                     ng-mouseover="mapTile_OnMouseover(tile)"
                     ng-mouseout="mapTile_OnMouseout(tile)"
                     ng-click="mapTile_OnClick(tile)"
                     ng-class="{'clickable': tile.unitData.occupyingUnitName.length > 0, 'inRangeMovColor': tile.movCount > 0, 'inRangeAtkColor': tile.atkCount > 0 && tile.movCount == 0, 'inRangeStaffColor': tile.utilCount > 0 && tile.atkCount == 0 && tile.movCount == 0}"
                >
                    <!-- Draw below terrain effects -->
                    <div ng-repeat="effect in tile.terrainEffects track by effect.name"
                         ng-init="effectData = data.system.terrainEffects[effect.name]"
                         ng-if="effect.isAnchor"
                         class="spriteContainer"
                         ng-style="{'width': ((data.map.constants.tileSize + data.map.constants.tileSpacing) * effectData.size)+'px', 'height': ((data.map.constants.tileSize + data.map.constants.tileSpacing) * effectData.size)+'px', 'z-index': tile.coordinate.y + (effectData.layer * 10)}"
                         layout="row"
                         layout-align="center center">
                         <img ng-src="{{effectData.spriteURL}}" />
                    </div>

                    <!--Draw unit-->
                    <div ng-if="tile.unitData.isUnitAnchor"
                         ng-init="unit = getUnitByName(tile.unitData.occupyingUnitName)"
                         class="spriteContainer"
                         ng-style="{'width': ((data.map.constants.tileSize + data.map.constants.tileSpacing) * unit.location.unitSize)+'px', 'height': ((data.map.constants.tileSize + data.map.constants.tileSpacing) * unit.location.unitSize)+'px', 'z-index': tile.coordinate.y + unit.location.unitSize}"
                         layout="row"
                         layout-align="center end"
                    >
                        <unit ng-if="unit.location.pairedUnit.length > 0"
                              unit="getUnitByName(unit.location.pairedUnit)"
                              tileconsts="data.map.constants"
                              statussysdata="data.system.statusConditions"
                              tagsysdata="data.system.tags"
                              layout="row"
                              layout-align="center end"
                              class="spriteContainer pairSpriteBack"
                        ></unit>
                        <unit unit="unit"
                              tileconsts="data.map.constants"
                              statussysdata="data.system.statusConditions"
                              tagsysdata="data.system.tags"
                              layout="row"
                              layout-align="center end"
                              class="spriteContainer"
                              ng-class="{'pairSpriteFront': unit.location.pairedUnit.length > 0}"
                        ></unit>
                    </div>

                    <div id="{{tile.coordinate.x}},{{tile.coordinate.y}}_hover" 
                         class="mapTileHover" 
                         style="display:none"></div>
                    
                </div>
            </div>
        </div>
    </md-content>
</div>
