<md-button id="btnShowSideNav" class="md-fab md-primary sidebar-launch-button absolute" ng-click="openSideNav()">
    <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
</md-button>

<!-- Sidenav search and unit display -->
<md-sidenav md-component-id="sidenav" class="md-sidenav-right" md-is-open="false" style="width: 50%;">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="closeSideNav()">
                <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-autocomplete
          md-selected-item="search.selected"
          md-search-text="search.query"
          md-items="unit in data.units | filter: search.query | orderBy: ['pinned', 'name']"
          md-item-text="unit.name"
          md-min-length="0"
          md-escape-options="clear"
          placeholder="Unit Name">
        <md-item-template>
            <div layout="row" layout-align="space-between center">
                <span md-highlight-text="search.query" md-highlight-flags="^i">{{unit.name}}</span>
                <i ng-if="unit.pinned" class="fa fa-thumb-tack fa-lg fa-rotate-45" aria-hidden="true"></i>
            </div>
        </md-item-template>
    </md-autocomplete>
    <!-- Draw unit data display-->
    <div ng-if="search.selected" layout-padding>
        <!-- Pin button -->
        <div layout="row">
            <img ng-src="{{search.selected.spriteURL}}" />
            <span>{{search.selected.name}}</span>
            <md-button class="md-icon-button" ng-click="search.selected.pinned = !search.selected.pinned">
                <i class="fa fa-thumb-tack fa-lg fa-rotate-45" aria-hidden="true"></i>
            </md-button>
        </div>
        <div layout="row">
            {{search.selected.coordinates}}
        </div>
        <!-- UNIT STATS -->
        <div layout="row">
            <i class="fa fa-angle-down" ng-class="{'fa-rotate-270': !statsExpanded}" ng-click="statsExpanded = !statsExpanded" aria-hidden="true"></i>
            <span>Stats</span>
        </div>
        <div ng-repeat="(stat, statObj) in search.selected.stats">
            {{stat}}: <span ng-class="{'buffedStatColor': statObj.finalValue > statObj.baseValue, 'debuffedStatColor': statObj.finalValue < statObj.baseValue}">
                        {{statObj.finalValue}} <i class="fa fa-long-arrow-up" ng-if="statObj.finalValue > statObj.baseValue" aria-hidden="true"></i><i class="fa fa-long-arrow-down" ng-if="statObj.finalValue < statObj.baseValue" aria-hidden="true"></i>
                      </span>
            <div ng-if="statsExpanded" style="margin-left: 7px;">
                Base: {{statObj.baseValue}}
            </div>
            <div ng-repeat="(mod, modVal) in statObj.modifiers" ng-if="statsExpanded" style="margin-left: 7px;">
                {{mod}}: {{modVal}}
            </div>
        </div>
        <!-- INVENTORY -->
        <div layout="row">
            <!--<i class="fa fa-angle-down" ng-class="{'fa-rotate-270': !inventoryExpanded}" ng-click="inventoryExpanded = !inventoryExpanded" aria-hidden="true"></i>-->
            <span>Inventory</span>
        </div>
        <md-card ng-repeat="item in search.selected.inventory track by $index" ng-click="item.expanded = !item.expanded">
            <div layout="row" layout-align="space-between center">
                <span ng-class="{'droppableItemColor': item.isDroppable == true}" style="font-weight: bold;">
                    <span>
                        <img ng-if="item.spriteURL.length > 0" ng-src="{{item.spriteURL}}" style="max-height: 16px; max-width: 16px;"/>
                        {{item.name}}
                    </span>
                    <span ng-if="item.uses > 0">({{item.uses}})</span>
                </span>
                <span>
                    <i class="fa fa-gift" ng-if="item.isDroppable" aria-label="Droppable"><md-tooltip md-direction="top">Droppable</md-tooltip></i>
                    <i class="fa fa-star" ng-if="item.isEquipped" aria-label="Equipped"><md-tooltip md-direction="top">Equipped</md-tooltip></i>
                </span>
            </div>
            <div layout="row">
                <span ng-if="item.weaponRank.length > 0">{{item.weaponRank}}&nbsp;-&nbsp;</span>{{item.category}}
            </div>
            <div ng-if="item.expanded">
                <md-divider layout-margin></md-divider>
                <div layout="row" layout-align="space-between">
                    <span ng-if="item.range.minimum > 0">Rng: {{item.range.minimum}}<span ng-if="item.range.minimum != item.range.maximum">&nbsp;-&nbsp;{{item.range.maximum}}</span></span>
                    <span ng-if="item.uses > 0">Uses: {{item.uses}}<span ng-if="item.maxUses > 0">&nbsp;\&nbsp;{{item.maxUses}}</span></span>
                </div>
                <div ng-if="item.utilizedStat.length > 0" ng-repeat="(stat, statVal) in item.stats">
                    {{stat}}: {{statVal}}
                </div>
                <md-divider layout-margin></md-divider>
                <div layout="row" ng-repeat="text in item.textFields" ng-style="{'margin-bottom': !$last ? '7px' : '0px'}">{{text}}</div>
            </div>
        </md-card>
        <!--SKILLS-->
    </div>
</md-sidenav>

<div id="mapBox" layout-fill style="background-color:orange;"></div>