<loadingscreen ng-if="!loadComplete" error="errorContext"></loadingscreen>
<div ng-if="loadComplete" layout="row" layout-fill>
    <!--Button toolbar-->
    <div id="divToolbar" layout="column" layout-align="space-between center" class="verticalPadding toolbarColor" style="width: 55px; height: 100%;">
        <div></div>
        <div>
            <md-button id="btnConvoy" class="md-icon-button" ng-if="data.showConvoyLink" ng-click="navigateToConvoy()">
                <i class="fa fa-archive fa-lg" aria-hidden="true"><md-tooltip md-direction="right">Convoy</md-tooltip></i>
            </md-button>
            <md-button id="btnMap" class="md-icon-button" ng-click="navigateToMap()">
                <i class="fa fa-map-o fa-lg" aria-hidden="true"><md-tooltip md-direction="right">Map</md-tooltip></i>
            </md-button>
            <md-button id="btnBack" class="md-icon-button" ng-click="navigateHome()">
                <i class="fa fa-arrow-left fa-lg" aria-hidden="true"><md-tooltip md-direction="right">Return to homepage</md-tooltip></i>
            </md-button>
        </div>
    </div>
    <div layout="column" style="width: 325px;" layout-padding>
        <md-content>
            <div layout="row" class="rem1_4Text boldText bottomMargin">
                <i class="fa fa-shopping-basket fa-fw fa-lg" aria-hidden="true"></i>
                &nbsp;Shop
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>Sort By</label>
                    <md-select ng-model="filters.selectedSort" ng-model-options="{trackBy: '$value.displayName'}" ng-change="sortItems()" class="md-no-underline">
                        <md-option ng-repeat="option in data.parameters.sorts" ng-value="{{option}}">{{option.displayName}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="column">
                <md-checkbox ng-model="filters.expandItemInfo" 
                             aria-label="Show Expanded Data">
                             Show Expanded Item Data
                </md-checkbox>
            </div>
            <md-divider></md-divider>
            <!-- Filters -->
            <div layout="column" style="margin-top: 16px;">
                <md-checkbox ng-if="data.parameters.filterConditions.AllowNew"
                             ng-model="filters.showNew"
                             aria-label="New">
                            New
                </md-checkbox>
                <md-checkbox ng-if="data.parameters.filterConditions.AllowSales"
                             ng-model="filters.showSales"
                             aria-label="On Sale">
                            On Sale
                </md-checkbox>
                <md-checkbox ng-model="filters.showOutOfStock"
                             aria-label="Out of Stock">
                            Out-of-Stock
                </md-checkbox>
            </div>
            <md-divider></md-divider>
            <!-- Item Categories -->
            <div layout="row" layout-align="start center" class="rem1_2Text boldText verticalPadding">
                Category
            </div>
            <div layout="column">
                <md-checkbox ng-model="filters.showCategory.all"
                             ng-change="toggleCategoryFilters()" 
                             aria-label="Show All">
                             Show All
                </md-checkbox>
                <div layout="column" class="leftPadding">
                    <md-checkbox ng-repeat="category in data.parameters.itemCategories" ng-model="filters.showCategory[category]" ng-change="updateCategoryFilters()" aria-label="{{category}}">{{category}}</md-checkbox>
                </div>
            </div>
            <md-divider></md-divider>
            <!-- Utilized Stats -->
            <div layout="row" layout-align="start center" class="rem1_2Text boldText verticalPadding">
                Utilized Stat
            </div>
            <div layout="column">
                <md-checkbox ng-model="filters.showStat.all"
                             ng-change="toggleStatFilters()" 
                             aria-label="Show All">
                             Show All
                </md-checkbox>
                <div layout="column" class="leftPadding">
                    <md-checkbox ng-repeat="stat in data.parameters.utilizedStats" ng-model="filters.showStat[stat]" ng-change="updateStatFilters()" aria-label="{{stat}}">{{stat}}</md-checkbox>
                </div>
            </div>
        </md-content>
    </div>
    <md-content id="shopItemsBox" class="backgroundTexture" layout-padding flex>
        <md-card ng-repeat="item in data.shopItems"
                 ng-init="itemData = data.items[item.name]"
                 ng-show="filters.showCategory[itemData.category] && (showUtilizedStat(itemData.utilizedStats) || filters.showStat.all) && (!filters.showNew || item.isNew) && (!filters.showSales || item.salePrice != item.price) && ((!filters.showOutOfStock && item.stock > 0) || (filters.showOutOfStock && item.stock == 0))"
                 class="fade">
                 <div layout="row" layout-align="space-between center">
                    <div layout="column">
                        <div layout="row" layout-align="left center">
                            <img ng-if="itemData.spriteURL.length > 0" ng-src="{{itemData.spriteURL}}" style="margin-right: 8px; max-height: 24px; max-width: 24px;"/>
                            <span class="boldText">{{item.name}} <span ng-if="item.uses > 0">({{item.uses}})</span></span>
                        </div>
                        <div layout="row" class="rem0_8Text leftPadding">
                            <span ng-if="itemData.weaponRank.length > 0">{{itemData.weaponRank}}&nbsp;-&nbsp;</span>{{itemData.category}}
                            <span ng-if="itemData.utilizedStats.length > 0" >
                                &nbsp;(<span ng-repeat="stat in itemData.utilizedStats track by $index">{{stat}}<span ng-if="!$last">/</span></span>)
                            </span>
                        </div>
                     </div>
                     <div layout="row">
                        <div ng-if="item.isNew" layout="column" layout-align="center center" class="rightPadding">
                            <span class="fa-stack">
                                <i class="fa fa-certificate fa-stack-2x" style="color: gold;"></i>
                                <i class="fa fa-exclamation fa-stack-1x" style="color: crimson;"></i>
                            </span>
                        </div>
                        <div layout="column">
                            <div layout="row" layout-align="end center" class="rem0_9Text">
                                <span ng-if="item.stock >= 99">∞</span>
                                <span ng-if="item.stock < 99">{{item.stock}}</span>
                                <span>&nbsp;Available</span>
                            </div>
                            <div layout="row" layout-align="end center" class="rem0_9Text">
                                <currency amount="item.salePrice" format="data.currency" ng-if="item.price != item.salePrice" class="boldText" style="margin-right: 4px;"></currency>
                                <currency amount="item.price" format="data.currency" ng-class="{'salePriceText': item.price != item.salePrice}"></currency>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div ng-if="filters.expandItemInfo">
                    <div ng-if="itemData.range.minimum > 0 || itemData.maxUses > 0 || itemData.utilizedStats.length > 0" class="rem0_8Text">
                        <md-divider></md-divider>
                        <div layout="row" layout-wrap>
                            <div ng-if="itemData.utilizedStats.length > 0" ng-repeat="(stat, statVal) in itemData.stats" layout="row" layout-align="space-between" flex="33" class="horizontalPadding">
                                <span>{{stat}}</span>
                                <span>{{statVal}}</span>
                            </div>
                            <div ng-if="itemData.range.minimum > 0" layout="row" layout-align="space-between" flex="33" class="horizontalPadding">
                                <span>Rng</span>
                                <span>{{itemData.range.minimum}}<span ng-if="itemData.range.minimum != itemData.range.maximum">-{{itemData.range.maximum}}</span></span>
                            </div>
                            <div ng-if="itemData.maxUses > 0" layout="row" layout-align="space-between" flex="33" class="horizontalPadding">
                                <span>Uses</span>
                                <span>{{itemData.maxUses}}</span>
                            </div>
                        </div>
                    </div>
                     <div ng-if="itemData.textFields.length > 0" layout="column">
                        <md-divider></md-divider>
                        <div ng-repeat="text in itemData.textFields track by $index" class="rem0_9Text" ng-class="{'bottomMargin': !$last}" layout="row">
                            {{text}}
                        </div>
                     </div>
                 </div>
        </md-card>
        <div ng-if="data.shopItems.length == 0" layout="row" layout-align="center center" class="rem2_25Text" layout-fill>
            There are no items available in the shop.
        </div>
    </md-content>
</div>